.content-tags {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  color: yellow;
  margin-bottom: 40px;
}
.tag {
  p {
    margin-left: 5px;
    margin-bottom: 1px;
  }
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  border: 1px solid #02b875;
  background: none;
  cursor: pointer;
  transition: ease 0.3s;
  width: 145px;
  font-weight: 400;
  font-size: 14px;
  .cross {
    display: none;
  }
}

.changing {
  p {
    margin-bottom: 1px;
    margin-left: 5px;
  }
  margin: 5px;
  display: flex;
  color: white;
  background: #02b875;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #02b875;
  cursor: pointer;
  transition: ease 0.3s;
  width: 145px;
  font-weight: 400;
  font-size: 14px;
  .cross {
    display: block;
  }
}
.fa-times {
  font-size: 12px;
}
