.content-form {
  margin: 25px 0 25px 0;
  text-align: center;
  input {
    color: #02b875;
    width: 90%;
    background: none;
    border-radius: 5px;
    border: 2px solid #274395;
    height: 35px;
    padding-left: 15px;
  }
}
