table {
  
  margin: auto;
  width: 80%;
  line-height: 1.3;
  tr td {
    border: 1px solid #5F5F5F;
    border-left: none;
    border-right: none;
    padding: 8px 15px 8px 15px;

  }
}

.far {
  cursor: pointer;
}
.far:hover {
  color: #FFDD00;
}
