<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
        integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
</head>


<body>

    <div class="content">
        <div class="content-social">
            <a href="#"><img id="logo" src="img/taxnet.png" alt=""></a>
            <div class="social-icons">
                <a href="#"><img id="fb" src="img/facebook.png" alt=""></a>
                <a href="#"><img id="insta" src="img/instagram.png" alt=""></a>
                <a href="#"><img id="vk" src="img/vk.png" alt=""></a>
            </div>

        </div>
        <div class="content-tabs">
            <button class="tab active">
                <p>Фильмы</p>
            </button>
            <button class="tab">
                <p>Закладки</p>
            </button>
        </div>

        <form action="" id="content-form" class="content-form">
            <input id="form-search" placeholder="Введите название фильма">
        </form>

        <div id="content-tags" class="content-tags"></div>

        <div id="content-titles" class="content-titles">
            <table>

            </table>
        </div>

        <div class="content-more">
            <button id="more-btn">
                <p>Показать еще</p>
            </button>
        </div>

    </div>
    <script src="main.js"></script>
</body>


</html>